rabbitcall/.vs
rabbitcall/out
rabbitcall/CMakeSettings.json

test/.vs
test/Debug
test/Release
test/packages
test/x64
test/rabbitcall_log.txt

test/cpp_prj/Debug
test/cpp_prj/Release
test/cpp_prj/x64
test/cpp_prj/*.user

test/csharp_prj/bin
test/csharp_prj/obj
test/csharp_prj/*.user
